/* Mixins
========================================================================== */

@mixin transition($transition) {
-moz-transition:			$transition;
-o-transition:				$transition;
-webkit-transition:			$transition;
transition:					$transition;
};

@mixin center-align($position: absolute) {
position:					$position;
left:						50%;
top:						50%;
-webkit-transform:			translate(-50%, -50%);
-ms-transform:				translate(-50%, -50%);
transform:					translate(-50%, -50%);
}

@mixin remove-center-align($position: absolute) {
position:					$position;
left:						auto;
top:						auto;
-webkit-transform:			none;
-ms-transform:				none;
transform:					none;
}