/* Color picker */
.disable-color-picker .wp-picker-container {
  position: relative;
}

.disable-color-picker .wp-picker-container::after {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
}

/* Admin page */
.wpvp-admin-page {
	max-width: 1200px;
}

/* PRO metabox */
.wpvp-pro-metabox th {
	display: none;
}

.wpvp-pro-metabox h3 {
	margin: 20px 0;
}

.wpvp-pro-metabox .button {
	margin-top: 10px;
}
